/* line 1, main.scss */
body, html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  background: #fcfcfc;
}

/* line 7, main.scss */
h1 {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 13, main.scss */
form {
  width: 320px;
  margin: 0 auto;
}

/* input container */
/* line 19, main.scss */
form > div {
  margin-bottom: 30px;
}

/* line 24, main.scss */
#clarity-view {
  height: 162px;
}

/* line 28, main.scss */
#color-view,
#carat-view {
  height: 111px;
}

/* line 32, main.scss */
#carat-view input {
  width: 180px;
  outline: none;
  border: 0;
  background: none;
  text-align: center;
}

/* line 41, main.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 51, main.scss */
.carat-container,
.color-container,
.clarity-container {
  margin: 20px 0 0;
  height: 90px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #eee;
  background: white;
}

/* line 61, main.scss */
button {
  background: none;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  color: #8FD1F1;
  height: 100%;
  float: left;
  width: 40px;
  outline: none;
}

/* line 75, main.scss */
button:hover {
  color: #7ABCDE;
}

/* line 79, main.scss */
button:disabled {
  color: #C2EDFF;
}

/* line 83, main.scss */
.increment-button {
  float: right;
}

/* line 87, main.scss */
label {
  position: absolute;
  width: 120px;
  left: 40px;
  text-align: center;
  color: #b3e2ff;
  top: 8px;
}

/* line 96, main.scss */
.value {
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 48px;
  color: #6CC0E5;
  padding-top: 20px;
  float: left;
  margin-right: 10px;
}

/* line 109, main.scss */
.carat-container .value,
.carat-container label {
  width: 238px;
  margin-right: 0;
}

/* line 118, main.scss */
#color-diagram,
#clarity-diagram {
  width: 100px;
  float: left;
  overflow: hidden;
}

/* line 124, main.scss */
#color-diagram {
  background-image: url("../img/color.png");
  height: 80px;
  margin: 8px 10px 0 -10px;
}

/* line 133, main.scss */
#clarity-diagram {
  background-image: url("../img/clarity.png");
  height: 90px;
  margin-left: -10px;
  margin-right: 10px;
}

/* line 140, main.scss */
.color-diagram-D {
  background-position: 0px -5px;
}

/* line 141, main.scss */
.color-diagram-E {
  background-position: -100px -5px;
}

/* line 142, main.scss */
.color-diagram-F {
  background-position: -200px -5px;
}

/* line 143, main.scss */
.color-diagram-G {
  background-position: -300px -5px;
}

/* line 144, main.scss */
.color-diagram-H {
  background-position: -400px -5px;
}

/* line 145, main.scss */
.color-diagram-I {
  background-position: -500px -5px;
}

/* line 146, main.scss */
.color-diagram-J {
  background-position: -600px -5px;
}

/* line 147, main.scss */
.color-diagram-K {
  background-position: -700px -5px;
}

/* line 148, main.scss */
.color-diagram-L {
  background-position: -800px -5px;
}

/* line 149, main.scss */
.color-diagram-M {
  background-position: -900px -5px;
}

/* line 152, main.scss */
.clarity-diagram-VVS1 {
  background-position: -100px 0;
}

/* line 153, main.scss */
.clarity-diagram-VVS2 {
  background-position: -100px 0;
}

/* line 154, main.scss */
.clarity-diagram-VS1 {
  background-position: -200px 0;
}

/* line 155, main.scss */
.clarity-diagram-VS2 {
  background-position: -200px 0;
}

/* line 156, main.scss */
.clarity-diagram-SI1 {
  background-position: -300px 0;
}

/* line 157, main.scss */
.clarity-diagram-SI2 {
  background-position: -300px 0;
}

/* line 158, main.scss */
.clarity-diagram-SI3 {
  background-position: -400px 0;
}

/* line 159, main.scss */
.clarity-diagram-I1 {
  background-position: -400px 0;
}

/* line 160, main.scss */
.clarity-diagram-I2 {
  background-position: -500px 0;
}

/* line 161, main.scss */
.clarity-diagram-I3 {
  background-position: -500px 0;
}

/* line 167, main.scss */
.totalCost {
  margin-bottom: 14px;
}

/* line 171, main.scss */
.totalCost label {
  left: 10px;
  position: relative;
  float: left;
  margin-top: 4px;
  margin-right: 20px;
}

/* line 179, main.scss */
.totalCost .value {
  padding-top: 0;
}

/* line 184, main.scss */
.oversizePremiums,
.description {
  clear: both;
  font-size: 12px;
  color: #BBBBC9;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 192, main.scss */
.oversizePremiums {
  font-size: 14px;
  color: #AAAAB7;
}
